{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>
            {% if post.published_date %}
                published: {{ post.published_date }} |
            {% else %}
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publicar</a>
            {% endif %}

            &nbsp; &nbsp;
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

            <a class="btn btn-warning" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            </p>
            <br />
            <p>
            Visitado {{ post.visits }} vezes
            </p>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <div class="date">
    Tags: 
    {% for tag in post.tags.all %}
        <a href=" {% url 'post_tag_list' pk=tag.pk %} "> {{ tag }} </a>&nbsp;
    {% endfor %}
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Comentar!</a>
    
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <br />
        <p><br />Sem coment&aacute;rios.. tsc, tsc :(</p>
    {% endfor %}


{% endblock %}